{% load static %}
 <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-8 offset-md-2">
                     <ul class="location_icon">
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a><br> Адреса</li>
                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a><br> +38 097 333 01 01</li>
                        <li><a href="email: boystoys@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a><br> boystoys@gmail.com</li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2019 All Rights Reserved. boystoys</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>