{% load static %}
<header>
         <!-- header inner -->
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="#"><img src="{% static 'img/logo.png' %}" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                 <a class="nav-link" href="/home/index.html">Домашня</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="/home/about.html">Про сайт</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="/catalog/index.html">Наші товари</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="/catalog/index.html">Магазин</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="/home/contacts.html">Контакти</a>
                              </li>
                              <li class="nav-item d_none login_btn">
                                 <a class="nav-link" href="#">Логін</a>
                              </li>
                              <li class="nav-item d_none">
                                 <a class="nav-link" href="#">Реєстрація</a>
                              </li>
                              <li class="nav-item d_none sea_icon">
                                     <a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i></a>
                              </li>
                              <li>
                                  <div id="cart-count" class="qty">0</div>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>